<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VpcProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="live" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AW0jMRn-6TpoxFTR3lCp7-C9K_YVZlRoFu6pl0ynBk3JRJ_1JGsIf7rkDKYZq_tz3eezwZmij7Tc5Alq" />
      <add name="clientSecret" value="EF0LOfE2ZP0NKyYQ8IYUkQB8Ri1PlcDnuxT4vRZ4U8idCR3A-0o50MITAJrcPO_8lzBRnp0D99NyDWW3" />
    </settings>
  </paypal>
  <connectionStrings>
    <!-- Used to connect to brandynew for testing before weekend mtp -->
    <!--<add name="VaultDbContext" connectionString="metadata=res://*/VaultDbModel.csdl|res://*/VaultDbModel.ssdl|res://*/VaultDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.62.84.27;initial catalog=VaultDb;user id=VaultDbLogin;password=&quot;&quot;3hL5YwUS#8^s#QcQ&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
    <!--SQL 2012 Prod Logins-->
    <add name="VaultDbContext" connectionString="metadata=res://*/VaultDbModel.csdl|res://*/VaultDbModel.ssdl|res://*/VaultDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012.vpcinnovations.com;initial catalog=VaultDb;user id=VaultDbLogin;password=&quot;&quot;3hL5YwUS#8^s#QcQ&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkflowEntities" connectionString="metadata=res://*/WorkflowModel.csdl|res://*/WorkflowModel.ssdl|res://*/WorkflowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012.vpcinnovations.com;initial catalog=WorkflowDb;user id=WorkflowDbUser;password=s9GY?aEfFxvD^gNv;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--OLD SQL Prod - VaultDb Login-->
    <!--<add name="WorkflowEntities" connectionString="metadata=res://*/WorkflowModel.csdl|res://*/WorkflowModel.ssdl|res://*/WorkflowModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012.vpcinnovations.com;initial catalog=WorkflowDb;user id=WorkflowDbUser;password=U7XL$GTzw9e-FUn7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="VaultDbContext" connectionString="metadata=res://*/VaultDbModel.csdl|res://*/VaultDbModel.ssdl|res://*/VaultDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.buyvpc.com;initial catalog=VaultDb;user id=VaultDbLogin;password=&quot;&quot;Hz874Bz#'4M8q*7&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ApplicationName" value="MarketplaceProcessor" />
    <add key="ProcessorName" value="Marketplace" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
    <mailSettings>
      <smtp>
        <!--<network host="192.168.101.38" />-->

        <!--USE THIS CONFIG FOR MARKETPLACE PROCESSOR (email will not send to internal folks if this isn't used)-->
        <!--<network host="192.168.100.230" userName="fuzedata\administrator" password="fdsecure" />-->

        <!--USE THIS CONFIG FOR VPC PROCESSOR ON VAULTPROC (SO EMAILS CAN BE SENT EXTERNALLY)-->
        <network host="192.168.100.230" userName="fuzedata\vpcprocessor" password="newuser1!" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProductMasterSoap" />
        <binding name="secureSoap">
          <security mode="Transport" />
        </binding>
        <binding name="secureSoap1">
          <security mode="Transport" />
        </binding>
        <binding name="WSElectronicOrderSoap" />
        <binding name="ServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://websvc.wynit.info/WYNITItemLookup/ProductMaster.asmx"
        binding="basicHttpBinding" bindingConfiguration="ProductMasterSoap"
        contract="WynitAvailabilitySvc.ProductMasterSoap" name="ProductMasterSoap" />
      <endpoint address="https://digitalcommercetest.dstewart.com/DigitalCommerceService.svc"
        binding="basicHttpBinding" bindingConfiguration="secureSoap"
        contract="DouglasStewartPriceAndAvailSvc_Test.IDigitalCommerceService"
        name="secureSoap" />
      <endpoint address="https://digitalcommerceprod.dstewart.com/DigitalCommerceService.svc"
        binding="basicHttpBinding" bindingConfiguration="secureSoap1"
        contract="DouglasStewartFullSvc_Prod.IDigitalCommerceService"
        name="secureSoap1" />
      <endpoint address="http://order.ekeystone.com/WSElectronicOrder/ElectronicOrder.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSElectronicOrderSoap"
        contract="KeystoneAutoElectronicOrderService.WSElectronicOrderSoap"
        name="WSElectronicOrderSoap" />
      <endpoint address="http://ws.tapww.com/service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="Transamerican_Webservice.ServiceSoap"
        name="ServiceSoap" />
    </client>
  </system.serviceModel>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPal" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <VpcProcessor.Properties.Settings>
      <setting name="WalmartPrivateKey" serializeAs="String">
        <value>MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAK6C/WO9xVFYp5cAtraQDBrgPBE0cBxryUwiLAVJ0A/KtiDNrRH5yt3kLHvhgkAGUlz+/iUR5ltRphhiZXMMAZ6ZoyiE0BP9JQEw/K4ArRMTM38o8NuP04R8Y3LS3Am9dDOzlMAu9cEankp0kx1nFmyDfaAsXOUO5T7qG7vnMWVLAgMBAAECgYBnb7K7NNdI0RB8u2qRKS5Tm8det0MgRW8KFlMbS1Xslk1/gglsVy+8d6s6Pj8SreyRvH5tAIAWbn3RhDj3iQ1HtF9KdhSD+3i8LPlemcPHDhwzG22U874cfkpcznJ90gnShvBtdG77zxbVhsq0tcgvcl7TMOD5I8/JqXS16hCt8QJBAPNkO8GU5LoQqO9Jo+ALdooXm05ERhD5W0dXlKWBIfglls9Dh/S9ozoBcfWj8SLFUN5P+7KU8102uIObxi0GT1kCQQC3jUw4eQH8ni7fGt9ZVpoXYOil1dEisx5WUKt/whgsRrUWHtPgvxj3lruAQeQX5HBpm1jwkDx5vmk8mlagNIlDAkBuCFZrgaCV7YoyA5yuYQBKFboEfCEg81osuo9c8zAkOvoe4WzJXCI6ywR2BJOzIHkayBYF+gi7j02DUh0ZpcyhAkEAnchIjQL4Qj936zEebZ2UOCSF2IhEjp+KpIgT5G7keKsPX0SAveGHhM19wHLjr+Ye+6keeyyBz+VucTn63RxMIQJBAK3ZGZseD7HWFCi/d+OaYwze0V8RZjCw607cn5OM/KoOl2QJ00FF8ShHHIFGnnH2SUvSGF4fel/vWf97PV+f9fM=</value>
      </setting>
      <setting name="WalmartApiUrl" serializeAs="String">
        <value>https://marketplace.walmartapis.com</value>
      </setting>
      <setting name="WalmartConsumerId" serializeAs="String">
        <value>ffdf17cb-caa1-41a3-a69d-4381170a84d4</value>
      </setting>
      <setting name="WalmartConsumerChannelType" serializeAs="String">
        <value>0f3e4dd4-0514-4346-b39d-af0e00ea066d</value>
      </setting>
    </VpcProcessor.Properties.Settings>
  </applicationSettings>
</configuration>
