<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />-->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--SQL 2012 Prod Logins-->
    <add name="VaultDbContext" connectionString="metadata=res://*/VaultDbModel.csdl|res://*/VaultDbModel.ssdl|res://*/VaultDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2012.vpcinnovations.com;initial catalog=VaultDb;user id=VaultDbLogin;password=&quot;&quot;3hL5YwUS#8^s#QcQ&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--OLD SQL Prod - VaultDb Login-->
    <!--<add name="VaultDbContext" connectionString="metadata=res://*/VaultDbModel.csdl|res://*/VaultDbModel.ssdl|res://*/VaultDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql.buyvpc.com;initial catalog=VaultDb;user id=VaultDbLogin;password=&quot;&quot;Hz874Bz#'4M8q*7&quot;&quot;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ProductMasterSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://websvc.wynit.info/WYNITItemLookup/ProductMaster.asmx" binding="basicHttpBinding" bindingConfiguration="ProductMasterSoap" contract="WynitAvailabilitySvc.ProductMasterSoap" name="ProductMasterSoap" />
    </client>
  </system.serviceModel>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="74.62.84.10" />
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
